// custom variables for color scheme

// $primary-dark: #005959;
// $primary: #009A4A;
// $primary-light: #D4F7CB;
// $secondary-dark: #76483B;
// $secondary: #BD6A53;
// $brown-light: #C89F94;
// $dark-grey: #1D1D1D;
// $light-grey: #ABABAB;
// $white: #FDFDFD;
// $back-bg: #FFFFFF;


$green-dark: #005959;
$green: #009A4A;
$green-light: #D4F7CB;
$brown-dark: #76483B;
$brown: #BD6A53;
$brown-light: #C89F94;
$grey-dark: #1D1D1D;
$grey-light: #ABABAB;
$white: #FDFDFD;
$white-bg: #FFFFFF;
