// This is where you override default Bootstrap variables
// 1. All Bootstrap variables are here => https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// 2. These variables are defined with default value (see https://robots.thoughtbot.com/sass-default)
// 3. You can override them below!

@import "colors";

/* ------- customization-------- */

// General style
$body-bg:                 $white-bg;
// $body-color:              $white !default;

/* set font variable customizations */
$font-family-base: 'Poppins', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$headings-font-weight: 600;

// Font size
$font-size-base:              1rem;     // default 16px
$font-size-lg:                1.125rem; // 18px
$font-size-xl:                1.25rem;  // 20px
$font-size-xxl:               1.5rem;   // 24px
$font-size-xxxl:              2rem;     // 32px
$font-size-xxxxl:             2.5rem;   // 40px

// Original variables and colors
$theme-colors: (
  "light":        $white,
  "dark":         $grey-dark,
) !default;

// Custom variales and colors
$custom-colors: (
  "green-dark":   $green-dark,
  "green":        $green,
  "green-light":  $green-light,
  "brown-dark":   $brown-dark,
  "brown":        $brown,
  "brown-light":  $brown-light,
  "grey-light":   $grey-light,
  "white-bg":     $white-bg,
) !default;

// Remove default variables from maps
$theme-colors: map-remove($theme-colors, "primary", "secondary", "success", "info", "danger", "warning");
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Buttons & inputs' radius
$border-radius:    10rem;



// Required bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
