<p id="review-<%= review.id %>">
<%= review.user.first_name %>
<br>
<%= time_ago_in_words(review.created_at) %>
<br>
<%= review.content %>
<br>
<%  review.rating.to_i.times do  %>
  <i class="bi bi-star-fill"></i>
<% end %>
<% (5 - review.rating.to_i).times do %>
  <i class="bi bi-star"></i>
<% end %></p>
