<p id="review-<%= review.id %>">
<%= review.content %></p>
<%# <p><%= review.rating %></p>
<%  review.rating.to_i.times do  %>
<i class="bi bi-star-fill"></i>
<% end %>
<% (5 - review.rating.to_i).times do %>
<i class="bi bi-star"></i>
<% end %>
